body{
    font-family: Arial, sans-serif;
    background-color: #f4f7ec;
    margin: 0;
    padding: 0;
}

.navbar{
    background: #BFCC94;
    padding: 15px;
    display: flex;
    align-items: center;
}

.navbar ul{
    list-style: none;
    gap: 20px;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}
.logo{
    color: #0D1821;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.nav-links a:hover{
    background-color: #0D1821;
    border: 3px solid #0D1821;
    border-radius: 5px;
    padding: 7px;
}
.footer{
    background: #b7cf67;
    text-align: center;
    padding: 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #0D1821;
}

/* index styling for content */

.home-content{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.home-content h1{
    font-size: 2.8rem;
    color: #0D1821;
}

.home-content p{
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}
.btn{
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    font-size: 1rem;
    margin-top: 30px;
}

.btn1{
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.btn2{
    background-color: #dc3545;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.btn:hover{
    background-color: #0056b3;
}
.btn-alt{
    background-color: #b4d155;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    font-size: 1rem;
    margin-top: 30px;
    
}
.btn-alt:hover{
    background-color: #495c08;
}
.home-container{
    margin-top: 150px;
    text-align: center;
    justify-content: center;
}
.home-container h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
/* Container */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

/* Hero */
.hero {
    text-align: center;
    margin-bottom: 60px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

.hero p {
    color: #6b7280;
    margin: 10px 0 25px;
    font-size: 1.1rem;
}

/* Search */
.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    width: 350px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

.search-bar button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

/* Sections */
.section {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 70px;
    margin-right: 70px;
}
.section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1f2937;
    margin-left: 145px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
}

.section-header a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 25px;
    margin-left:145px;
    align-items: center;
    margin-bottom: 100px;
}

/* Book Card */
.card {
    background: #e9fbff;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.2s;
    height: 450px;
    width: 200px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card h4 {
    margin-top: 12px;
    font-size: 1rem;
}

.card span {
    color: #6b7280;
    font-size: 0.9rem;
}

/* Categories */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 25px;
}

.category {
    padding: 25px;
    background: #f9fafb;
    border-radius: 14px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.category:hover {
    background: #eef2ff;
}

.book-cover{
    cursor: pointer;
    height: 300px;
    width: 200px;

}

.history-item{

    margin-left: 70px;
    padding: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin-left: 70px;
}

.form-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 30px;

}

.reader iframe{
    width: 100%;
    height: 80vh;
    border: none;
    margin-top: 20px;
}

