<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}𝙳𝚒𝚐𝚒𝚝𝚊𝚕𝙻𝚒𝚋𝚛𝚊𝚛𝚢{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <nav class="navbar">
        <h2 class="logo">DigitalLibrary</h2>
        
        <ul class="nav-links">
            {% if session ["user_id"] %}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/books">Books</a>
            </li>
            <li>
                <a href="/history">History</a>
            </li>
            <li>
                <a onclick="return Areyousure()" href="/logout">Logout</a>

            </li>
            {% else %}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        </ul>
        {% endif %}
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 
            2025 Digital-Library. All rights reserved.
        </p>
    </footer>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>